<template name="adminPanel">
  {{#if isInRole 'admin'}}
  <div class="c-admin o-max-width-lg">
    <h1>Blog Settings</h1>
    <div class="c-admin__panel">

      <h2>Users</h2>
      <table class="c-admin-table">
        <tbody>
          <tr class="c-admin-table__row">
            <th class="c-admin-table__header">
              User
            </th>
            <th class="c-admin-table__data">
              Role
            </th>
          </tr>
        {{#each users}}
          <tr class="c-admin-table__row">
            <td class="c-admin-table__data">
              {{userId}}
            </td>
            <td class="c-admin-table__data">
              <select class="c-admin__picklist" data-action="change-user-role">
                <option class="c-admin__option" name="" {{userHasNoRole}}></option>
                <option class="c-admin__option" name="admin" {{userIsAdmin}}>Admin</option>
                <option class="c-admin__option" name="editor" {{userIsEditor}}>Editor</option>
                <option class="c-admin__option" name="standard" {{userIsStandard}}>Standard</option>
              </select>
            </td>
            <td class="c-admin-table__data">
              <button class="c-admin-table__action-save" type="submit" data-action="save" {{changedRole}}>Change Role</button>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>

    <h2>View Settings</h2>
      <label> Number of Posts Per Page.
        <select class="c-admin__picklist" data-action="change-number-of-page-items">
          <option class="c-admin__option">1</option>
          <option class="c-admin__option">2</option>
          <option class="c-admin__option">3</option>
          <option class="c-admin__option">4</option>
          <option class="c-admin__option">5</option>
          <option class="c-admin__option">6</option>
          <option class="c-admin__option">7</option>
          <option class="c-admin__option">8</option>
          <option class="c-admin__option">9</option>
          <option class="c-admin__option">10</option>
          <option class="c-admin__option">11</option>
          <option class="c-admin__option">12</option>
          <option class="c-admin__option">13</option>
          <option class="c-admin__option">14</option>
          <option class="c-admin__option">15</option>
          <option class="c-admin__option">16</option>
          <option class="c-admin__option">17</option>
          <option class="c-admin__option">18</option>
          <option class="c-admin__option">19</option>
          <option class="c-admin__option">20</option>
        </select>
      </label>

      <label> Featured Posts
        <select>
        {{#each post in userPosts}}
          <option>{{post.title}}</option>
        {{/each}}
        </select>
      </label>
      <label> Featured Posts
        <select>
        {{#each post in userPosts}}
          <option>{{post.title}}</option>
        {{/each}}
        </select>
      </label>
      <label> Featured Posts
        <select>
        {{#each post in userPosts}}
          <option>{{post.title}}</option>
        {{/each}}
        </select>
      </label>
      <label> Featured Posts
        <select>
        {{#each post in userPosts}}
          <option>{{post.title}}</option>
        {{/each}}
        </select>
      </label>
    </div>
  </div>
{{/if}}
</template>
