.c-admin {
  width: 100%;

  &__heading {
    .Font(@Dawn-regular, @font-reg, @font-lg);
  }

  &__panel{
    padding: 4em;
    .css-transition(all 0.3s ease-in-out);
  }

  &__picklist {

  }

  &__option {

  }
}

.c-admin-table {
  width: 100%;
  &__row {

  }

  &__header {

  }

  &__data {
    padding: .25em .5em;
    width: 33%;
  }

  &__action-save {
    display: none;

    &.show {
      display: block;
    }
  }
}
